[![open in colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1ebUEbAIE7M5NyvoL9dpPP7tDgCIo2L-1?usp=sharing)

# Linear Regression Quiz

In this quiz, you'll be working with data on the average life expectancy at birth and the average BMI for males across the world. The data comes from Gapminder.

The data file can be found under the "bmi_and_life_expectancy.csv" tab in the quiz below. It includes three columns, containing the following data:

- Country – The country the person was born in.
- Life expectancy – The average life expectancy at birth for a person in that country.
- BMI – The mean BMI of males in that country.

You'll need to complete each of the following steps:
1. Load the data
- The data is in the file called "bmi_and_life_expectancy.csv".
Use pandas read_csv to load the data into a dataframe (don't forget to import pandas!)
Assign the dataframe to the variable bmi_life_data.

2. Build a linear regression model
- Create a regression model using scikit-learn's LinearRegression and assign it to bmi_life_model.
Fit the model to the data.

3. Predict using the model
- Predict using a BMI of 21.07931 and assign it to the variable laos_life_exp.

In [2]:
# Download Dataset:
!gdown --id 1gBdA7ZXJaJHvBy_IaIpbln7ixqsQrF3a

Downloading...
From: https://drive.google.com/uc?id=1gBdA7ZXJaJHvBy_IaIpbln7ixqsQrF3a
To: /content/bmi_and_life_expectancy.csv
100% 3.97k/3.97k [00:00<00:00, 15.9MB/s]

In [ ]:
# TODO: Add import statements


# Assign the dataframe to this variable.
# TODO: Load the data
bmi_life_data = None 

# Make and fit the linear regression model
#TODO: Fit the model and Assign it to bmi_life_model
bmi_life_model = None

# Make a prediction using the model
# TODO: Predict life expectancy for a BMI value of 21.07931
laos_life_exp = None

# Solution

In [24]:
# TODO: Add import statements
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

# Assign the dataframe to this variable.
# TODO: Load the data
bmi_life_data = pd.read_csv("bmi_and_life_expectancy.csv", delimiter=',')
display(bmi_life_data)
# Make and fit the linear regression model
#TODO: Fit the model and Assign it to bmi_life_model
bmi_life_model = LinearRegression()
bmi_life_model.fit(bmi_life_data[['BMI']], bmi_life_data[['Life expectancy']])

# Make a prediction using the model
# TODO: Predict life expectancy for a BMI value of 21.07931
laos_life_exp = bmi_life_model.predict(np.array(21.07931).reshape(-1, 1))
laos_life_exp

                Country  Life expectancy       BMI
0           Afghanistan             52.8  20.62058
1               Albania             76.8  26.44657
2               Algeria             75.5  24.59620
3               Andorra             84.6  27.63048
4                Angola             56.7  22.25083
..                  ...              ...       ...
158             Vanuatu             63.4  26.78926
159  West Bank and Gaza             74.1  26.57750
160             Vietnam             74.1  20.91630
161              Zambia             51.1  20.68321
162            Zimbabwe             47.3  22.02660

[163 rows x 3 columns]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([[60.31564716]])